body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    padding: 20px;
}

.bodyIntro {
    font-size: 1.2em;
    line-height: 1.6;
    margin: 20px 0;
    text-align: center;
    color: #ffffff;
}
.bio {
    font-size: 1.2em;
    line-height: 1.6;
    margin: 20px 0;
    text-align:center;
    color: #00ff00;
}

header {
    text-align: center;
    margin-bottom: 20px;
    border: 2px solid #ffffff; /* white border */
    padding: 40px;
    border-radius: 12px;
    margin-left: 20rem;
    margin-right: 20rem;
    margin-top: 10rem;
}

button {
    background-color: #000000; /* black */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
.button1 {
    background-color: #000000; /* black */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    
    border-radius: 12px;
    border: 2px solid #ffffff; /* white border */
}
.button2 {
    background-color: #000000; /* black */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 40rem; /* set your desired width */
    margin-left: auto;
    margin-right: auto;
    height: 40rem;
}

.button2 img {
    height: 100%;
    width: 100%;
    border-radius: 12px;
}