@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Paprika&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "GFS Didot", "Paprika", system-ui;
}
