@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Paprika&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "GFS Didot", "Garamond", system-ui;

}

@font-face {
  font-family: "GFS Didot";
  src: url("/fonts/GFSDidot.ttf") format("truetype");
}

@font-face {
  font-family: "Paprika";
  src: url("/fonts/Paprika-Regular.ttf") format("truetype");
}
